# Valkey (redis) settings
VALKEY_PASSWORD=change_me_to_a_secure_password

# Mosquitto HTTP backend
AUTH_HTTP_HOST=auth-api
AUTH_HTTP_PORT=8000

AUTH_HTTP_GET_USER_URI=/mqtt/auth
AUTH_HTTP_SUPER_USER_URI=/mqtt/auth/superuser
AUTH_HTTP_ACL_URI=/mqtt/auth/acl

# Cache options
AUTH_OPT_CACHE=true
AUTH_OPT_CACHE_TYPE=redis
AUTH_OPT_CACHE_RESET=true
AUTH_OPT_CACHE_REFRESH=true

AUTH_OPT_AUTH_CACHE_SECONDS=30
AUTH_OPT_ACL_CACHE_SECONDS=30
AUTH_OPT_AUTH_JITTER_SECONDS=3
AUTH_OPT_ACL_JITTER_SECONDS=3

AUTH_OPT_CACHE_HOST=valkey
AUTH_OPT_CACHE_PORT=6379
AUTH_OPT_CACHE_PASSWORD=${VALKEY_PASSWORD}
AUTH_OPT_CACHE_DB=3
